$primary-color: #e65a3d;
$black-color: #373632;
$black-color-80: #37363280;
$black-color-60: #37363260;
$black-color: #0c0b0b;
$white-color: #ffffff;
$white-color-80: #ffffff80;
$border-color: #e7e7e7;
$grey-color: #f6f7fb;
$error-color: #e74c3c;
